@charset "UTF-8";

@import url(https://fonts.google.com/specimen/Red+Hat+Text);

:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Text';
    font-size: 16px;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 250px;
    grid-template-areas: 
    'titulo titulo titulo cart'
    'caixa caixa caixa cart';
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    gap: 18px;
    /* border: 2px solid blue; */
}

.titulo {
    grid-area: titulo;
    font-size: 2rem;
    padding: 5px 0;
    margin-left: 15px;
    /* border: 2px solid red; */
}

.img2 {
    display: block;
    margin: 0 auto 10px;
}

.caixa {
    grid-area: caixa;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 10px;
    /* border: 2px solid green; */
} 

.caixa0 {
  position: relative;
  overflow: hidden;
}

.caixa0:hover {
    transform: scale(1.02);
    transform-origin: center center;
}

.caixa0 img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
  border-radius: 12px 12px 0 0;
}

.button-wrapper {
  position: absolute;
  bottom: 0;
  left: 55%;
  transform: translateX(-50%);
  width: 50%;
  margin-bottom: 4px;
  z-index: 2;
}

.caixa0 button,
.quantidade-controls {
  width: 80%;
  background-color: var(--rose-50);
  color: var(--rose-900);
  border: none;
  padding: 10px;
  border-radius: 18px;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.caixa0 button:hover {
    background-color: var(--rose-50);
    color: var(--red);
}

.quantidade-controls {
    background-color: var(--red);
    padding: 7px;  
}

.quantidade-controls button {
  background-color: var(--red);
  color: var(--rose-50);
  font-size: 14px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--rose-50);
  cursor: pointer;
}

.quantidade-controls span {
  font-size: 14px;
  color: var(--rose-50);
  text-align: center;
  flex-grow: 1;
}

.caixa1 p {
    padding: 4px 10px;
    margin: 0;
    margin-top: 3px;
    font-size: 16px;
}

.nome {
    color: var(--rose-400);    
}

.desc {
    font-weight: 600;
    font-size: 16px;
}

.valor {
    color: var(--red);
    font-weight: bold;
}

.cart {
    grid-area: cart;
    padding: 20px;
    background-color: var(--rose-50);
    border-radius: 12px;
    height: fit-content;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
    margin-left: 5px;
    color: orangered;
}

#cart-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#cart-content div {
    border-bottom: 1px solid var(--rose-300);
    padding-bottom: 10px;
}

.cart-item-nome {
    font-size: 10px;
    font-weight: bold;
    color: var(--rose-900);
    margin-bottom: 4px;
}

.cart-item-info {
    font-size: 8px;
    color: var(--rose-500);
    padding-top: 5px;
}

.cart-item-qtd {
    color: var(--red);
    font-weight: bold;
}

#cart-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
}

#cart-content strong {
    color: var(--rose-900);
}

.img2 {
    display: block;
    margin: 10px auto;
    max-width: 120px;
    opacity: 0.6;
}